*,
*::after,
*::before{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: calc(16px + 6*(100vw/920));
    line-height: 28px;
    color: #555;
    background-color: rgb(175, 233, 169);
}

.page{
    min-height: 100vh;
    position: relative;
}

.wrapper{
    max-width: 920px;
    margin: 0 auto;
}

.page1 .card,
.page2 .card,
.page3 .card
{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: 8px solid rgb(51, 122, 45);
    border-radius: 20px;
    
}

.page1 .card .foto,
.page1 .card .text{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 25px;
}

.page1 .card .text a{
    display: block;
    text-align: center;
}

.page1 .card .foto img{
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.page1 .card .foto img:hover{
    transform: scale(1.1);
}

.page2 .card .foto,
.page2 .card .text,
.page4 .card .foto,
.page4 .card .text{
    width: 50%;
    padding: 25px;
}

.page2 .card .fotoSmalScrine{
    padding: 25px;
    display: none;
}
.page2 .card .foto img,
.page2 .card .fotoSmalScrine img{
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.page2 .card .foto img:hover,
.page2 .card .fotoSmalScrine img:hover{
    transform: scale(1.1);
}

.page2 .card .text a{
    display: block;
    text-align: center;
}

.page3 .card .foto,
.page3 .card .text{
    vertical-align: top;
    padding: 25px;
}

.page3 .card .foto{
    float: left;
    width: 50%;
}

.page3 .card .text a{
    display: block;
    text-align: center;
}

.page3 .card .foto img,
.page4 .card .foto img{
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.page3 .card .foto img:hover,
.page4 .card .foto img:hover{
    transform: scale(1.1);
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.page4 .pageWrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.page4 .pageWrapper .card{
    outline: 1px solid red;
    display: flex;
    }

.page4 .pageWrapper .card .text{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.page4 .pageWrapper .card .text a{
    display: flex;
    justify-content: center;
}

/* ----------------------- адаптив */

@media (max-width:550px) {
   
    .page1 .card .foto,
    .page1 .card .text{
        width: 100%;
    }

    .page2 .card .foto{
        display: none;
    }

    .page2 .card .fotoSmalScrine{
        display: block;
    }
    .page2 .card .text{
        width: 100%;
    }
    
    .page3 .card .foto{
        width: 100%;
        float: none;
    }

    .page4 .pageWrapper .card{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .page4 .card .foto,
    .page4 .card .text{
        width: 100%;
    }

}